@font-face {
    font-family: blackOps;
    src: url("../fonts/BlackOpsOne-Regular.ttf");
}

h2, h3, h4, h5{
    font-family: blackOps;
    color: #000;
}
h3{
    margin-top: 0;
    font-size: 30px;
}
.container{
    padding-left: 40px;
    padding-right: 40px;
}

/*paginação*/
footer li.active a {
    color: #fff;
    background-color: #00838D;
}
.pagination .active {
    transform: translateY(-8px);
    pointer-events:none;
}
footer a:visited {
    color: #7a7a7a;
    background-color: #c4c4c4;
}

/*tooltip*/
.bt-tooltip{
    border: none;
    border-bottom: 2px dashed;
    background: unset;
    padding: 0;
}

/*saiba mais*/
.caixa-container {
    position: relative;
    padding-top: 40px;
    margin-bottom: 60px;
}
.caixa-exp {
    max-height: 200px;
    overflow: hidden;
    width: 100%;
    margin: 40px auto;
    transition-duration: .7s;
    position: relative;
    color: white;
    border: none;
    border-radius: 20px;
    padding-top: 60px;
}
.caixa-exp.aberta {
    max-height: 1900px; 
}
.caixa-container button {
    content: '';
    background-image: url('../img/ico_saibamais_abre.png');
    background-size: contain;
    background-position: center;
    width: 75px;
    height: 75px;
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 11;
    background-color: transparent;
    border: none;
}
.caixa-container button:hover {
    transform: translateX(-50%) scale(1.03);
}
.caixa-container.saiba-mais::before {
    content: '';
    background-image: url('../img/ico_saiba_mais.png');
    background-size: 100%;
    width: 152px;
    height: 152px;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 15;
}

.tt-destaque{
    font-family: blackOps;
    font-size: 22px;
}

.container.branco, .bloco .container.branco{background: #fff;}
.container.verde, .bloco .container.verde{background: #055459;}
.container.azul, .bloco .container.azul{background: #018087;}

.container.verde p, .container.verde li,
.container.verde h3, .container.verde button,
.container.verde .figure-caption,
.container.azul p, .container.azul li, .container.azul h3, .container.azul h4,
.container.azul .figure-caption, .container.azul button{color: #fff;}

.container.branco{padding: 50px 40px;}
.container.azul{padding: 50px 40px;}
.container.verde{padding: 50px 40px;}

.pg1{
    background: rgb(174,242,245);
    background: linear-gradient(180deg, rgba(174,242,245,1) 0%, rgba(0,79,84,1) 100%);
}

.pagina{padding-bottom: 100px;}
.pagina .bloco1{padding-top: 130px;}
#booklet{position: relative;}

header.titulo-conteudo{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
    top: 40px;
}
footer.container {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
    bottom: 0;
    background: transparent;
}
.container.verde .figure-caption{color: #fff;}
p, figcaption{word-wrap: break-word;}

/*página 1*/
.pg1 .bloco1{
    background: url('../img/pg1/fundo2.png') bottom center, url('../img/pg1/fundo1.png') top 10px center;
    background-repeat: no-repeat;
    background-size: 100%, contain;
}
.pg1 .bloco2{
    background: url('../img/pg1/img_hospital.png') top 50px center, url('../img/pg1/img_3.png') top 800px center;
    background-repeat: no-repeat;
    background-size: 110%;
}
.destaque{
    padding: 43px 0;
    max-width: 540px;
    margin: auto;
    position: relative;
}
.destaque.grande{max-width: unset;}
.destaque.grande .conteudo-destaque{
    background: url('../img/pg1/destaque_gd_meio.png') repeat-y;
    background-size: 100%;
    padding: 0 70px;
}
.conteudo-destaque{
    background: url('../img/pg1/destaque_meio.png') repeat-y;
    background-size: 100%;
    padding: 0 30px;
    margin: -5px 0;
}
.conteudo-destaque ul, .conteudo-destaque p{
    margin-bottom: unset;
    color: #fff;
}

ul.check{
    list-style: none;
}
ul.check li{
    background: url('../img/pg1/destaque_marcador.png') no-repeat left top;
    padding-left: 30px;
    min-height: 24px;
    margin-bottom: 5px;
}
.pra-fora1 {
    margin-top: 160px;
    margin-bottom: 50px;
}
.pra-fora1 figure{
    margin-left: -100px;
    margin-top: -100px;
}
.pra-fora1 .destaque{
    margin-right: -100px;
}

.box-azul{
    background: #01a7b3;
    max-width: 410px;
    margin-bottom: 20px;
}

/*imagens remédios*/
.img-remedios{
    position: absolute;
    width: 15%;
    top: 50px;
}
.img-remedios.direita{right: 0;}
.img-remedios.inferior{
    top: unset;
    bottom: 50px;
}

/*imagens animadas*/
.img-flutuante{
    animation: flutua infinite 2s ease-in-out;
    position: absolute;
    width: 15%;
    top: 50px;
}
.img-flutuante.direita{right: 0;}
.img-flutuante.esquerda{left: 0;}
.img-flutuante.inferior{
    top: unset;
    bottom: 50px;
}
.img-flutuante.centro{
    top: 40%;
}

@keyframes flutua {
    50% { transform: translateY(30px) }
}

.rotate-center{animation:rotate-center 60s linear infinite both}
@keyframes rotate-center{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}

/* /imagens animadas*/

.pg1 .caixa-container.saiba-mais{
    margin: 50px -70px;
}

/*flip-cards*/
.flip-card {
    background-color: transparent;
    width: 231px;
    height: 231px;
}
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
  
.flip-card-back {
    transform: rotateY(180deg);
}

.modal-header h5, .conteudo-destaque .figure-caption {color: #fff;}

.icone.praticar::before{
    background: url('../img/ico_praticar.png') no-repeat;
    width: 115px;
    height: 128px;
    top: 25px;
    z-index: 1;
}

/*página 2*/
.pg2{
    background: rgb(255,255,255);
    background: linear-gradient(-180deg, rgba(255,255,255,1) 0%, rgba(0,167,179,1) 100%);
}
.pg2 .bloco1{
    background: url('../img/pg2/bg_mortalidade.png') bottom center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.pg2 .bloco3{margin-top: -10px;}
.pg2 .menu{
    padding-top: 30px;
    margin: 0 -30px;
}
.pg2 .menu li a{
    width: 180px;
    height: 50px;
    background-size: 100%;
}
.nav-link1{background: url('../img/pg2/bt1_ancora.png') no-repeat;}
.nav-link2{background: url('../img/pg2/bt2_ancora.png') no-repeat;}
.nav-link3{background: url('../img/pg2/bt3_ancora.png') no-repeat;}
.nav-link4{background: url('../img/pg2/bt4_ancora.png') no-repeat;}
.nav-link1:hover{background: url('../img/pg2/bt1_hover_ancora.png') no-repeat;}
.nav-link2:hover{background: url('../img/pg2/bt2_hover_ancora.png') no-repeat;}
.nav-link3:hover{background: url('../img/pg2/bt3_hover_ancora.png') no-repeat;}
.nav-link4:hover{background: url('../img/pg2/bt4_hover_ancora.png') no-repeat;}

.pg2 .bloco2{
    background: url('../img/pg2/bg_saneamento.png') top 100px center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.pg2 .bloco3{
    background: url('../img/pg2/bg_sanemamento2.png') bottom center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.pg2 .bloco4{
    background: url('../img/pg2/bg_saneamento_dir.png') right top, url('../img/pg2/bg_saneamento_esq.png') left bottom, url('../img/pg2/bg_saneamento3.png') center bottom;
    background-repeat: no-repeat;
    background-size: 20%, 20%, 100%;
}
.pg2 .destaque.icone{margin-top: 70px;}
.pg2 .destaque.icone.saiba-mais::before {
    background: url(../img/ico_saiba_mais.png) no-repeat transparent;
    width: 152px;
    height: 157px;
    left: 0;
    right: 0;
    margin: auto;
    top: -60px;
}
.pg2 .bloco6{
    background: url('../img/pg2/gradiente_branco.png') top center,
                url('../img/pg2/bg_vacina_esq2.png') left bottom;
    background-repeat: no-repeat;
    background-size: 100%, 18%;
}
.pg2 .voltar-topo{
    transition: all .4s !important;
    position: fixed;
    bottom: 10%;
    left: 15%;
    z-index: 2;
    display: none;
}
.pg2 .voltar-topo:hover{
    transform: scale(1.1);
}
.pg2 .card-peq{
    width: 335px;
    height: 176px;
    margin-bottom: 20px;
    color: #fff;
    padding: 30px;
}
.pg2 .card-peq.bg1{background: url('../img/pg2/quadro2.png') no-repeat;}
.pg2 .card-peq.bg2{background: url('../img/pg2/quadro1.png') no-repeat;}

.pg2 .bloco6 .icone.praticar::before{
    top: 0px;
    left: -42px;
}
.pg2 .bloco6 .icone.praticar p{color: #fff;}
.destaque .esquemaDaBru .btn-sesc{
    color: #000;
    text-align: center;
    padding: 5px 0;
    width: 100px;
}
    
.destaque .esquemaDaBru:last-child, .destaque .esquemaDaBru .feedbacks p{margin-bottom: 0;}
.destaque .esquemaDaBru .feedbacks p{
    background: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

/*página 3*/
.pg3{background: #000;}
.pg3 .bloco1{
    background: rgb(1,165,175);
    background: linear-gradient(180deg, rgba(1,165,175,1) 0%, rgba(0,0,0,1) 100%);
    position: relative;
}
.pg3 .bloco2{
    background: url('../img/pg3/bg_img2_dir.png') right top, url('../img/pg3/bg_img3_esq.png') left center, url('../img/pg3/bg_img4_dir.png') right bottom;
    background-repeat: no-repeat;
    background-size: 20%;
}
.pg3 .bloco3{
    background: url('../img/pg3/bg_radioterapia.png') no-repeat;
    background-size: 100%;
}
.pg3 .bloco4{
    background: rgb(1,165,175);
    background: linear-gradient(180deg, rgba(1,165,175,1) 0%, rgba(0,0,0,1) 100%);
}
.pg3 .caixa-container.saiba-mais {
    margin: 50px -70px;
    margin-bottom: 0;
}
.pg3 .caixa-container.saiba-mais .destaque{padding-bottom: 0;}
.pg3 .bloco2 .container{padding-bottom: 0;}
.pg3 .painel-ondas{
    background: url('../img/pg3/figura14.gif') no-repeat;
    width: 800px;
    height: 360px;
    background-size: 100%;
    position: relative;
}
.pg3 .painel-ondas button{
    width: 175px;
    height: 78px;
    background-position: center;
    transition: all .4s;
    border: none;
    position: absolute;
    transform: scale(.7);
}
.pg3 .painel-ondas button:hover{
    transform: scale(.8);
}
.bt-alfa{
    background: url('../img/pg3/radiacao_bt1.png') no-repeat;
    left: 200px;
    top: 30px;
}
.bt-beta{
    background: url('../img/pg3/radiacao_bt2.png') no-repeat;
    left: 200px;
    top: 85px;
}
.bt-raiox{
    background: url('../img/pg3/radiacao_bt3.png') no-repeat;
    left: 200px;
    top: 136px;
}
.bt-gama{
    background: url('../img/pg3/radiacao_bt4.png') no-repeat;
    left: 200px;
    top: 190px;
}
.bt-neutron{
    background: url('../img/pg3/radiacao_bt5.png') no-repeat;
    left: 200px;
    top: 245px;
}

/*página 4*/
.pg4{
    background: rgb(255,255,255);
    background: linear-gradient(-180deg, rgba(255,255,255,1) 0%, rgba(234,148,45,1) 100%);
}
.pg4 .bloco1{
    background: url('../img/pg4/bg1_esq.png') left top 30px, url('../img/pg4/bg1_dir.png') right top 100px, url('../img/pg4/bg2_esq.png') left center,
    url('../img/pg4/Bg2_dir.png') right center;
    background-repeat: no-repeat;
    background-size: 15% , 15%, 20%, 20%;
}
.pg4 .planeta{
    width: 30%;
    position: absolute;
    bottom: 100px;
    z-index: 1;
}
.pg4 .bloco1 .container{
    position: relative;
    z-index: 2;
}
.pg4 .planeta.esq{left: 100px;}
.pg4 .planeta.dir{right: 100px;}

/*página 5*/

.pg5{
    background: rgb(133,229,229);
}
.pg5 img{
    position: fixed;
    width: 15%;
    z-index: 3;
}
.pg5 .img-painel{
    top: 100px;
    left: 80px;
}
.pg5 .img-dir{
    bottom: 0;
    right: 80px;
}
.pg5 .img-esq{
    bottom: 0;
    left: 80px;
}


.borda-card{
    border: #009ca8 solid 8px;
}

.tabela-conteudo{
    color: #fff;
}
.tabela-conteudo td{
    padding: 12px;
    vertical-align: top;
}

.img-card14{
    width: 231px;
    height: 231px;
}

/*-------- CSS Vídeos --------*/
.video-youtube{
    width: 640px;
    height: 360px;
    display: block;
    margin: 10px auto;
}
.espera-video{
    width: 100%;
    height: 300px;
    background-color: #018087;
    border-radius: 20px;
    margin: 20px auto;
}

.conteudo-mobile p{
    margin-top: 20px;
}

.btn-tratamento_agua{
    display: block;
    margin: 20px auto;
    border: #009ca8 solid 2px;
    width: 200px;
    height: 80px;
    border-radius: 10px;
}
.btn-ervilhas{
    display: block;
    margin: 40px auto 5px auto;
    border: #009ca8 solid 2px;
    width: 200px;
    height: 80px;
    border-radius: 10px;
}

.painel-icones{
    width: 100%;
}

@media screen and (max-width: 1480px){
    .pg2 .voltar-topo{
        left: 4%;
    }
    .pg5 img{position: absolute;}

    .pg5 .img-painel, .pg5 .img-esq{
        left: 30px;
    }
}

@media screen and (max-width: 1024px){
    .conteudo-destaque{margin: -7px 0;}
    .pra-fora1, .pra-fora1 figure{
        margin-top: 30px;
        margin-bottom: unset;
        margin-left: auto;
    }
    .pra-fora1 .destaque{margin-right: auto;}
    footer.container{
        background:#055459;
    }
    .pg3 .painel-ondas{
        transform: scale(0.9);
        margin: 30px -50px !important;
    }
    .pg5 img, .img-flutuante{display: none;}
    .pg2 .bloco1 .container{padding-top: 0;}
    .pg1 .caixa-container.saiba-mais,
    .pg3 .caixa-container.saiba-mais{
        margin: unset;
        margin-bottom: 60px;
    }
    .destaque.grande .conteudo-destaque{padding: 10px 30px;}
    .pg3 .bloco2 .destaque.grande .conteudo-destaque{
        padding-top: 30px;
    }

    .conteudo-destaque span, .voltar-topo{
        display: none !important;
    }
}

@media screen and (max-width: 820px){
    .pagina {
        padding-bottom: 80px;
    }
    .pg1, .pg1 .bloco1, .pg4 .bloco1{
        background: none;
    }
    .pg3 {
        background: #fff;
    }

    .destaque{
        padding-top: 60px;
    }

    .painel-icones{
        width: 80%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 480px){
    .w-50{
        width: 100% !important;
    }

    .painel-gaitinha .accordion-button:before{
        padding: 25px;
    }

    .video-youtube{
        width: 320px;
        height: 180px;
    }

    .painel-icones{
        width: 100%;
    }
}